*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;

}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat',sans-serif,'Noto Sans JP', sans-serif;
  line-height: 1.6875;
  color: #222222;
}

main{
  margin-top: 130px;
}

img{
  width: 100%;
  vertical-align: bottom;
}

video{
  height: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #222222;
}

a:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}
.yellow-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-column{
  flex-direction: column;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}
.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title-wrapper {
  text-align: center;
}

.bg-gray{
  background-color: #fafafa;
}

textarea{
  resize: none;
}

/* header */

header {
  width: 100%;
  height: 130px;
  padding: 0 30px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #525050;
}
h1{
  font-size: 40px;
  line-height: 1;
  height: 40px;
  margin: auto 0;
}

#info{
  display: block;
  font-weight: bold;
  line-height: 1;
  height: 30px;
  margin: auto 0;
}
/* ログイン画面 */
#firebaseui-auth-container{
  margin-top: 100px;
}
.firebaseui-tos-list{
  display: none;
}

.container.hidden{
  display: none;
}
/* 掲示板投稿部分 */
.board-submit-form{
  width: 205;
  height: 250px;
  box-sizing: border-box;
}
#js-local-stream{
  width: 200px;
  height: 100%;
}
#output{
  width: 40%;
  height: 250px;
  color: #fafafa;
  background-color: green;
  border: 8px solid #3d1111;
  overflow: scroll;
}
.self-video-wrapper{
  width: 280px;
}
#username{
  border: none;
  cursor: unset;
  font-size: 16px;
  padding: 2px 0 1px 2px;
}
.from-name{
  display: flex;
}

.output-date{
  font-size: 10px;
  color: rgb(165, 165, 165);
}
.output-username{
  font-size: 13px;
  color: rgb(249, 253, 8);
}
.output-text{
  border-bottom: #fafafa;
  border-style: dotted;
}

.chat-open.hidden{
  display: none;
}

.container{
  margin: 30px 10px 0 100px;
}
/* .container-up{
  height: 45vh;
} */

#mesh{
  color: red;
}
#sfu{
  color: red;
}

#js-messages{
  /* overflow-y: scroll; */
  width: 100%;
  height: 250px;
  word-wrap: normal;
  white-space: pre-wrap ;
}

#js-remote-streams > video{
  margin-top: 50px;
  width: 25%;
}
.messages-nav{
  position: fixed;
  top: 130px;
  width: 30vw;
  left: -30vw;
  height: 290px;
  background-color: #ffd61a;
  font-size: 16px;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 2;
  padding: 10px;
  text-align: center;
}
.messages-nav.open {
  left: 0px;
}